body {
  background-color: var(--cui-tertiary-bg);
}

.wrapper {
  width: 100%;
  @include ltr-rtl("padding-left", var(--cui-sidebar-occupy-start, 0));
  @include ltr-rtl("padding-right", var(--cui-sidebar-occupy-end, 0));
  will-change: auto;
  @include transition(padding .15s);
}

.header > .container-fluid,
.sidebar-header {
  min-height: calc(4rem + 1px);
  display: flex;
  align-items: center;
  justify-content: center; 
}

.sidebar-brand-full {
  margin-left: 3px;
}

.sidebar-header {
  .nav-underline-border {
    --cui-nav-underline-border-link-padding-x: 1rem;
    --cui-nav-underline-border-gap: 0;
  }

  .nav-link {
    display: flex;
    align-items: center;
    min-height: calc(4rem + 1px); 
  }
}

.sidebar-toggler {
  @include ltr-rtl("margin-left", auto);
}
.svg-size{
  width: 1.5rem;
}
.sidebar-narrow,
.sidebar-narrow-unfoldable:not(:hover) {
  .sidebar-toggler {
    @include ltr-rtl("margin-right", auto);
  }
 
}
.error-container {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  animation: easeIn 1s ease-in;
  z-index: 10000;
}

.error-message {
  border: 1px solid rgb(200, 46, 46);
  background-color: rgb(199, 57, 57);
  color: white;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: start;
  min-width: 300px;
}

@keyframes easeIn {
  from {
    opacity: 0;
    transform: translateY(20px) translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateY(0) translateX(-50%);
  }
}
.cursor-pointer{
  cursor: pointer;
}

.support-chat-message{
  font-size: 24px;
}

.custom-detail-table{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list-unstyled{
  width: 100%;
}
.resize-column { resize: both; overflow: auto; }

.header > .container-fluid + .container-fluid {
  min-height: 3rem;
}

.footer {
  min-height: calc(3rem + 1px); // stylelint-disable-line function-disallowed-list
}
.crud-icon{
  max-width: 30px;
}
@if $enable-dark-mode {
  @include color-mode(dark) {
    body {
      background-color: var(--cui-dark-bg-subtle);
    }

    .footer {
      --cui-footer-bg: var(--cui-body-bg);
    }
  }
}
