/* Blog.css */
.modal-lg {
    max-width: 50%; /* Adjust the width as needed */
  }
  
  .CInputGroup {
    display:flex;
    justify-content: space-between;
    margin-bottom: 1.5rem; /* Add spacing between input groups */
  }
  
  .CFormLabel {
    margin-right: 1rem; /* Add space between label and input */
  }

  .blog-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
  }
  
  .blog-card .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    border: 2px solid white   ;
  }
  
  @media (max-width: 768px) {
    .blog-card {
      flex: 0 0 calc(50% - 20px);
      max-width: calc(50% - 20px);
    }
  }
  
  @media (max-width: 576px) {
    .blog-card {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  