.booking-table{
    font-size: 14px;
}
.booking-modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.modalstatus{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}